<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ site.author }} | {{ site.author-title }}</title>
  <link rel="stylesheet" href="./css/main.css">
  <meta name="description" content="{{ site.bio }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ site.author }} | {{ site.author-title }}">
  <meta name="twitter:description" content="{{ site.bio }}">
 
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{{ site.author }} | {{ site.author-title }}">
  <meta property="og:description" content="{{ site.bio }}">
  <meta property="og:site_name" content="{{ site.author }} | {{ site.author-title }}">

  <meta itemprop="name" content="{{ site.author }} | {{ site.author-title }}"/>
  <meta itemprop="description" content="{{ site.bio }}">
</head>
